:root{
	--main-color: green;
}

.test {
    background: black;
}

.autoprefixer {
  display: flex;
  color: var(--main-color);
}

@each $icon in foot, bar, baz {
  .icon-$(icon) {
    background: url('icons/$(icon).png');
  }
}